build/index.html
<!DOCTYPE html>
<html lang="ru">

    <head>
        <title>M-kon</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="">
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body>
        <div class="grand-container">
            <header class="main">
                <div class="top-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-4">
                                <a href="#" class="logo db"></a>
                            </div>
                            <div class="col-xs-4">
                                <p class="slogan text-right fz15 text-bold">ООО «М-Кон» - технологиии, решения
                                    <br> и системы материалов</p>
                            </div>
                            <div class="col-xs-4">
                                <div class="logo-diller pull-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="top-carousel" data-ride="carousel" class="carousel slide">
                    <div role="listbox" class="carousel-inner">
                        <div class="item active">
                            <img src="img/slider_photo1.jpg">
                        </div>
                        <div class="item">
                            <img src="img/slider_photo1.jpg">
                        </div>
                    </div>
                    <div class="arrows-wrap">
                        <a href="#top-carousel" role="button" data-slide="prev" class="left carousel-control">
                            <span aria-hidden="true" class="glyphicon glyphicon-chevron-left">
                                <span class="sr-only">Previous</span>
                            </span>
                        </a>
                        <a href="#top-carousel" role="button" data-slide="next" class="right carousel-control">
                            <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="lsn clearfix pl0 mb0">
                                    <li class="pull-left">
                                        <a href="" class="db text-bold">Ремонт и защита бетона</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="" class="db text-bold">Гидроизоляция сооружений</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="" class="db text-bold">Высокоточный монтаж оборудования</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="" class="db text-bold">Промышленные полы</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="" class="db text-bold">Усиление конструкций</a>
                                    </li>
                                    <li class="pull-left">
                                        <a href="" class="db text-bold">Инъекционные системы</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="sidebar">
                                <div class="menu">
                                    <ul class="lsn pl0 mb0 pr">
                                        <li class="active">
                                            <a href="#" class="db">Главная</a>
                                            <ul>
                                                <li>
                                                    <a href="#">О компании</a>
                                                </li>
                                                <li>
                                                    <a href="#">Структура компании</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="db">Материалы</a>
                                        </li>
                                        <li>
                                            <a href="#" class="db">Обьекты</a>
                                        </li>
                                        <li>
                                            <a href="#" class="db">Сервис</a>
                                        </li>
                                        <li>
                                            <a href="#" class="db">Техническое решение</a>
                                        </li>
                                        <li>
                                            <a href="#" class="db">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="main">
                                <h1>Реферат по физике</h1>
                                <p>Тема: «Торсионный экситон: методология и особенности» Квантовое состояние, несмотря на внешние воздействия, усиливает пульсар. Объект отклоняет короткоживущий фронт. Взрыв экстремально заряжает экситон вне зависимости от
                                    предсказаний самосогласованной теоретической модели явления.</p>
                                <h2>Примесь, как и везде в пределах наблюдаемой вселенной</h2>
                                <p>Примесь, как и везде в пределах наблюдаемой вселенной, последовательно представляет собой сверхпроводник. Вихрь катастрофично сжимает квазар. Туманность, в рамках ограничений классической механики, возбуждает нестационарный
                                    гамма-квант, хотя этот факт нуждается в дальнейшей тщательной экспериментальной проверке.</p>
                                <h3>В условиях электромагнитных помех:</h3>
                                <ul>
                                    <li>неизбежных при полевых измерениях</li>
                                    <li>не всегда можно опредлить, когда именно тело однократно</li>
                                    <li>примесь, если рассматривать процессы в рамках специальной теории относительности, когерентно излучает
                                        <a href="">гамма-квант</a>
                                    </li>
                                </ul>
                                <p class="text-important">В слабопеременных полях (при флуктуациях на уровне единиц процентов) взвесь стабилизирует поток. Квантовое состояние отклоняет тангенциальный объект. Погранслой тормозит ультрафиолетовый фотон. При наступлении резонанса
                                    турбулентность концентрирует расширяющийся лазер.</p>
                                <p class="text-black">Туманность, в рамках ограничений классической механики, возбуждает нестационарный гамма-квант, хотя этот факт нуждается в дальнейшей тщательной экспериментальной проверке.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="footer-logo">
                            <a href="" class="db"></a>
                        </div>
                        <p class="copyright text-white fz12 pull-left">© 2015. ООО “М-Кон”. Все права защищены</p>
                        <div class="menu text-white">
                            <ul class="lsn pl0 mb0 pr">
                                <li class="pull-left">
                                    <a href="#" class="fz13 db">Обьекты</a>
                                </li>
                                <li class="pull-left">
                                    <a href="#" class="fz13 db">Техническое решение</a>
                                </li>
                                <li class="pull-left">
                                    <a href="#" class="fz13 db">Сервис</a>
                                </li>
                                <li class="pull-left">
                                    <a href="#" class="fz13 db">О компании</a>
                                </li>
                                <li class="pull-left">
                                    <a href="#" class="fz13 db">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <p class="art6-logo pull-right fz12 text-white">Разработка -
                            <a href="#">
                                <img src="img/logo_art6.png">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.4,underscorejs@1.8.3"></script>
        <script src="js/main.js"></script>
    </body>

</html>

jade/index.jade
extends _layout

block header
  header.main
    .top-block
      .container
        .row
          .col-xs-4
            a(href='#').logo.db
          .col-xs-4
            p.slogan.text-right.fz15.text-bold ООО «М-Кон» - технологиии, решения <br> и системы материалов
          .col-xs-4
            .logo-diller.pull-right
    #top-carousel.carousel.slide(data-ride="carousel")
      .carousel-inner(role="listbox")
        .item.active
          img(src='img/slider_photo1.jpg')
        .item
          img(src='img/slider_photo1.jpg')
      .arrows-wrap
        a.left.carousel-control(href="#top-carousel" role="button" data-slide="prev")
          span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
            span.sr-only Previous
        a.right.carousel-control(href="#top-carousel" role="button" data-slide="next")
          span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
          span.sr-only Next
    .menu
      .container
        .row
          .col-xs-12
            ul.lsn.clearfix.pl0.mb0
              li.pull-left
                a(href='').db.text-bold Ремонт и защита бетона
              li.pull-left
                a(href='').db.text-bold Гидроизоляция сооружений
              li.pull-left
                a(href='').db.text-bold Высокоточный монтаж оборудования
              li.pull-left
                a(href='').db.text-bold Промышленные полы
              li.pull-left
                a(href='').db.text-bold Усиление конструкций
              li.pull-left
                a(href='').db.text-bold Инъекционные системы

block content
  section.content
    .container
      .row
        .col-xs-3
          .sidebar
            .menu
              ul.lsn.pl0.mb0.pr
                li.active
                  a(href='#').db Главная
                  ul
                    li
                      a(href='#') О компании
                    li
                      a(href='#') Структура компании
                li
                  a(href='#').db Материалы
                li
                  a(href='#').db Обьекты
                li
                  a(href='#').db Сервис
                li
                  a(href='#').db Техническое решение
                li
                  a(href='#').db Контакты
        .col-xs-9
          .main
            h1 Реферат по физике
            p Тема: «Торсионный экситон: методология и особенности» Квантовое состояние, несмотря на внешние воздействия, усиливает пульсар. Объект отклоняет короткоживущий фронт. Взрыв экстремально заряжает экситон вне зависимости от предсказаний самосогласованной теоретической модели явления.
            h2 Примесь, как и везде в пределах наблюдаемой вселенной
            p Примесь, как и везде в пределах наблюдаемой вселенной, последовательно представляет собой сверхпроводник. Вихрь катастрофично сжимает квазар. Туманность, в рамках ограничений классической механики, возбуждает нестационарный гамма-квант, хотя этот факт нуждается в дальнейшей тщательной экспериментальной проверке.
            h3 В условиях электромагнитных помех:
            ul
              li неизбежных при полевых измерениях
              li не всегда можно опредлить, когда именно тело однократно
              li примесь, если рассматривать процессы в рамках специальной теории относительности, когерентно излучает
                a(href='') гамма-квант
            p.text-important В слабопеременных полях (при флуктуациях на уровне единиц процентов) взвесь стабилизирует поток. Квантовое состояние отклоняет тангенциальный объект. Погранслой тормозит ультрафиолетовый фотон. При наступлении резонанса турбулентность концентрирует расширяющийся лазер.
            p.text-black Туманность, в рамках ограничений классической механики, возбуждает нестационарный гамма-квант, хотя этот факт нуждается в дальнейшей тщательной экспериментальной проверке.

block footer
  footer.main
    .container
      .row
        .col-xs-9
          .footer-logo
            a(href='').db
          p.copyright.text-white.fz12.pull-left ©  2015. ООО “М-Кон”. Все права защищены
          .menu.text-white
            ul.lsn.pl0.mb0.pr
              li.pull-left
                a(href='#').fz13.db Обьекты
              li.pull-left
                a(href='#').fz13.db Техническое решение
              li.pull-left
                a(href='#').fz13.db Сервис
              li.pull-left
                a(href='#').fz13.db О компании
              li.pull-left
                a(href='#').fz13.db Контакты
        .col-xs-3
          p.art6-logo.pull-right.fz12.text-white Разработка -
            a(href='#')
              img(src='img/logo_art6.png')
